.git
.gitignore

.env
.env.*
!.env.example

media/
staticfiles/
logs/
*.log

__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
.pytest_cache/
pytest-cache-files-*/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

db.sqlite3
*.sqlite3
*.sqlite

venv/
.venv/
env/
node_modules/

.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

tmp/
temp/
*.tmp
*.temp
*.bak
*.backup
*.swp
*.orig
*.zip
*.rar
*.tar
*.tar.gz
*.tgz
*.gz
*.7z
